autopep8>=2.3.2
build>=1.3.0
coverage>=7.10.6
cyclonedx-bom>=7.1.0
defusedxml>=0.7.1
keyboard>=0.13.5
lcov-cobertura>=2.1.1
lxml>=6.0.1
ntplib>=0.4.0
Pillow>=11.3.0
psutil>=7.0.0
pycdlib>=1.14.0
Pygments>=2.19.2
pylint>=3.3.8
pyOpenSSL>=25.1.0
PyPDF>=6.0.0
pytest>=8.4.2
PyYAML>=6.0.2
qrcode>=8.2
send2trash>=1.8.3
twine>=6.2.0
xmlschema>=4.1.0