autopep8>=2.0.1
build>=0.10.0
coverage>=7.0.5
cyclonedx-bom>=3.11.0
defusedxml>=0.7.1
keyboard>=0.13.5
lxml>=4.0.0
ntplib>=0.4.0
pycdlib>=1.13.0
pylint>=2.15.10
pyOpenSSL>=23.0.0
PyPDF2>=3.0.1
pytest>=7.2.1
qrcode>=7.3.1
send2trash>=1.8.0
twine>=4.0.2
xmlschema>=2.1.1
ScriptCollection>=3.3.93
