autopep8>=2.1.0
build>=1.2.1
coverage>=7.5.1
cyclonedx-bom>=4.4.3
defusedxml>=0.7.1
keyboard>=0.13.5
lcov-cobertura>=2.0.2
lxml>=5.2.2
ntplib>=0.4.0
Pillow>=10.3.0
pycdlib>=1.14.0
Pygments>=2.18.0
pylint>=3.2.0
pyOpenSSL>=24.1.0
PyPDF2>=3.0.1
pytest>=8.2.0
qrcode>=7.4.2
send2trash>=1.8.3
twine>=5.0.0
xmlschema>=3.3.1