autopep8>=2.3.2
build>=1.2.2.post1
coverage>=7.6.10
cyclonedx-bom>=5.1.2
defusedxml>=0.7.1
keyboard>=0.13.5
lcov-cobertura>=2.0.2
lxml>=5.3.0
ntplib>=0.4.0
Pillow>=11.1.0
pycdlib>=1.14.0
Pygments>=2.19.1
pylint>=3.3.3
pyOpenSSL>=25.0.0
PyPDF>=5.2.0
pytest>=8.3.4
PyYAML>=6.0.2
qrcode>=8.0
send2trash>=1.8.3
twine>=6.1.0
xmlschema>=3.4.3
